@if (profile){
  <section id='profile'>
    @if (profile.images[0]){
      <img
        src="{{ apiURL }}{{ profile.images[0].path }}"
        srcset="{{ utilService.generateSrcset(apiURL + profile.images[0].path) }}"
      />
    }
    <div id="profile-text">
      @for (t of profile.texts; track t) {
        @if (t.home == 1){
          <p>{{ t.content }}</p>
        }
      }
    </div>
  </section>
}
<section id='catalog'>
  @for (project of projects; track project) {
    <article class="project" id="project-{{ project.id }}">
      <a href="/projects/{{ project.permalink }}">
        <img class="project-image-alt" id="img-project-{{project.id}}-alt"/>
        <img
          class="project-image" id="img-project-{{project.id}}"
          src="{{ apiURL }}{{ project.images[0].path }}"
          srcset="{{ utilService.generateSrcset(apiURL + project.images[0].path) }}"
        />
        <div class='project_details'>
          <h3>{{ project.title }}</h3>
        </div>
      </a>
    </article>
  }
</section>
<input id='apiURL' type='hidden' value='{{ apiURL }}'>
