@use '../_variables';

section#error{
    max-width: 65em;
    margin: 1em 4em;
    padding:0.5em 1em;
    background-color: variables.$background-darker-white;
    border: 0.1em solid variables.$primary-brown;
    border-radius: 0.4em;
    
    h2{
        font-size: 200%;
        border-bottom: 0.2em solid;
    }
    
    p{margin-left: 1em;}
    
    a{
        margin: 2em auto 2em 3em;
        display: list-item;
    }
}


